@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* custom-scales.css */
@layer utilities {
  .scale-90 {
    transform: scale(0.90);
  }

  .scale-150 {
    transform: scale(1.5);
  }

  /* Add more custom scales as needed */
}


:root {
  --foreground-rgb-start: 38, 42, 77;
  --foreground-rgb-middle: 112 25, 57;
  --foreground-rgb-end: 240, 162, 115;
}

body {
  color: rgb(255,255,255);
  background: linear-gradient(155deg, rgba(var(--foreground-rgb-start), 1) 26%, rgba(var(--foreground-rgb-middle),1) 61%, rgba(var(--foreground-rgb-end), 1) 99%);
}